body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 10vw;
    color: white;
    margin-top: 20%;
    text-align: center;
    line-height: 20%;
    z-index: 0;
}

.homeLink {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1em;
    color: white;
    margin-left: 0.5em;
    text-align: right;
}


.background {
    height: 90%;
    width: 100%;

    top: 0;
    left: 0;

    object-fit: cover;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background-position: 50% 400px;
    background-size: cover
}

.subtitle {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2vw;
    color: white;
    margin-top: 0%;
    text-align: center;
    line-height: 0%;
    z-index: 1;
}

.headBanner {
    height: 30%;
    width: 100%;
    margin:0;
    padding:0vw;
    background: url(https://images.unsplash.com/photo-1541681799731-44dfb98b5a80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

}

.headBannerOverlay {
    position: relative;
    z-index: 100;
    background: rgb(227,195,38);
    background: linear-gradient(180deg, rgba(227,195,38,1) 0%, rgba(164,151,31,0.8) 100%);
    padding: 4vw;
    height: 100%;
    width: 100%;
    margin:0;

}

.pageTitle {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 4vw;
    color: white;
    margin-top: 10%;
    text-align: Left;
    line-height: 0%;
    z-index: 0;
}

.itemTitle {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-top: -1.2em;
    margin-bottom: 0.5em;
    text-align: left;
}

.itemTitleTop {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-top: -1.4em;
    margin-bottom: 0.5em;
    text-align: left;
}

.itemBody {
    font-family: Lato;
    font-weight: regular;
    font-size: 0.90em;
    color: black;
    text-align: justify;
    line-height: 1.5em;
}

.textContainerTop {
    margin: left;
    margin-left: 0vw;
    positon: absolute;
    height: 100%;
    width: 80%;
    margin-top: 1em;
    margin-bottom: -7em;
    box-sizing: border-box;
    padding: 4vw;
    padding-left: 4vw;
    background: white;
    opacity: 1;
    z-index: 1
}

.textContainer {
    margin: left;
    margin-left: 0vw;
    positon: absolute;
    height: 100%;
    width: 80%;
    margin-bottom: -6em;
    margin-top: 3em;
    box-sizing: border-box;
    padding: 4vw;
    padding-left: 4vw;
    background: white;
    opacity: 1;
    z-index: 1
}

.special1 {
    font-family: Lato;
    font-weight: bold;
    font-size: 1.20em;
    color: grey;
    text-align: justify;
    line-height: 2em;
}

.date {
    color: rgb(213,148,0);
    font-weight: lighter;
    font-size: 0.7em;
    vertical-align: middle;
}

.structure {
    margin-left: 7%;
    margin-top: 00%;
    border-left: 0.5vw solid black;
}

tr {
    border: 0.5vw solid black;
}

.colA {
    width: 80%;
    vertical-align: top;
}

.sideCol {
    width: 5%;
}

.spacer {
    height: 6vh;
}

.sideImage {
    position: absolute;
    display: absolute;
    width: 25%;
}

.line {
    height: 100%;
    width: 5px;
    color: black;
}

.dot-container {
    position: relative;
    display: relative;
    left: -5.5vw;
    vertical-align: middle;
    top: 0vh;
    height: 2vw;
    width: 2vw;
    background-color: black;
    border-radius: 100px;
    z-index: 1000;
}


/* LINKS */
.backLink:link {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    margin-top: 0%;
    text-align: center;
    line-height: 0%;
    text-decoration: none;
    z-index: 0;
}

.backLink:visited {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    margin-top: 0%;
    text-align: center;
    line-height: 0%;
    z-index: 0;
}

.backLink:hover {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1vw;
    color: red;
    margin-top: 0%;
    text-align: center;
    line-height: 0%;
    z-index: 0;
}


/* MOBILE FORMATTING */
@media (max-width: 879px) {
    .date {
        line-height: 2em;
        margin-bottom: -1em;
        color: rgb(213,148,0);
        font-weight: lighter;
        font-size: 0.7em;
        vertical-align: middle;
    }

    .itemTitle {
        font-family: Open Sans;
        font-weight: bold;
        font-size: 1.5em;
        color: black;
        margin-top: 2em;
        margin-bottom: 1em;
        text-align: left;
    }

    .itemTitleTop {
        font-family: Open Sans;
        font-weight: bold;
        font-size: 1.5em;
        color: black;
        margin-top: 0.5em;
        margin-bottom: 1em;
        text-align: left;
    }

    .dot-container {
        display: none;
    }

    .resumeButton {
        display: none;
        position: fixed;
        right: 1em;
        bottom: 1em;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 0vw;
        padding-top: 0vw;
        border-radius: 50px;
        background: rgb(227,195,38);
        box-shadow: 0px 5px 15px #595959;
        opacity: 1;
        z-index: 100;
        text-align: center;
    }

    .resumeText {
        position: relative;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 1em;
        color: white;
    }
}

.resumeButton {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 0vw;
    padding-top: 0vw;
    border-radius: 50px;
    background: rgb(227,195,38);
    box-shadow: 0px 5px 15px #595959;
    opacity: 1;
    z-index: 100;
    text-align: center;
}

.resumeText {
    position: relative;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1em;
    color: white;
}
