body {
    background: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 10vw;
    color: white;
    margin-top: 20%;
    text-align: center;
    line-height: 20%;
    z-index: 0;
}

.homeLink {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1em;
    color: white;
    margin-left: 0.5em;
    text-align: right;
}

.background {
    height: 90%;
    width: 100%;

    top: 0;
    left: 0;

    object-fit: cover;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background-position: 50% 400px;
    background-size: cover
}

.subtitle {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2vw;
    color: white;
    margin-top: 0%;
    text-align: center;
    line-height: 0%;
    z-index: 1;
}


.itemTitle {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    text-align: left;
    line-height: 1em;
}

.itemOrg {
    font-family: Open Sans;
    font-weight: italic;
    font-size: 1.5em;
    color: black;
    text-align: left;
    line-height: 1em;
}

.itemDate {
    font-family: Open Sans;
    font-size: 1em;
    color: black;
    margin-top: 1em;
    margin-bottom: 5vh;
    margin-left: 1em;
    text-align: left;
    line-height: 1em;
    margin-bottom: -0.2em;
}

.itemBody {
    font-family: Lato;
    font-weight: regular;
    font-size: 0.90em;
    margin-left: 1em;
    color: black;
    text-align: justify;
    line-height: 1.5em;
}

.textContainerTop {
    margin: left;
    margin-left: 5vw;
    positon: absolute;
    height: 100%;
    width: 50%;
    margin-top: 10vh;
    box-sizing: border-box;
    padding: 2em;
    background: white;
    opacity: 1;
    z-index: 1
}

.textContainer {
    margin: left;
    margin-left: 5vw;
    positon: absolute;
    height: auto;
    width: 50%;
    margin-top: 0vh;
    box-sizing: border-box;
    padding: 2em;
    background: white;
    opacity: 1;
    z-index: 1
}

.sideContainerTop {
    margin: left;
    margin-left: 0vw;
    positon: absolute;
    height: 100%;
    width: 80%;
    margin-top: 10vh;
    box-sizing: border-box;
    padding: 4vw;
    background: white;
    opacity: 1;
    z-index: 1
}

.sideContainer {
    margin: left;
    margin-left: 0vw;
    positon: absolute;
    height: 100%;
    width: 80%;
    margin-top: 0vh;
    box-sizing: border-box;
    padding: 4vw;
    background: white;
    opacity: 1;
    z-index: 1
}

.headBanner {
    height: 30%;
    width: 100%;
    margin:0;
    padding:0vw;
    background: url(https://images.unsplash.com/photo-1486325212027-8081e485255e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.headBannerOverlay {
    position: relative;
    z-index: 100;
    background: rgb(209,84,84);
    background: linear-gradient(180deg, rgba(209,84,84,1) 0%, rgba(162,43,43,0.8) 100%);
    padding: 4vw;
    height: 100%;
    width: 100%;
    margin:0;

}

.pageTitle {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 4vw;
    color: white;
    margin-top: 10%;
    text-align: Left;
    line-height: 0%;
    z-index: 0;
}

.special1 {
    font-family: Lato;
    font-weight: bold;
    font-size: 1.20em;
    color: #b70011;
    text-align: justify;
    line-height: 2em;
}

.structure {
    table-layout: fixed;
    width: 10em;
}

.colA {
    width: 50%;
    vertical-align: top;
}

.colB {
    width: 50%;
    vertical-align: top;
}



a {
    color: black;
    text-decoration: none;
}

.buttonArray {
    background-color: white;
    /*box-shadow: inset 0px 5px 10px 2px rgba(0,0,0,0.1);*/
    height: auto;
    border-radius: 50px;
}

.buttonItem {
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 1em;
    display: inline;
    padding: 10px;
}

.buttonShape {
    background-color: #f2f2f2;
    padding: 1em;
    margin: 1em;
    display: inline-block;
    border-radius: 30px;
}

.buttonShape:hover {
    background-color: #DDDDDD;;
}







.spacer {
    height: -10em;
}

.sideImage {
    position: absolute;
    display: absolute;
    object-fit: cover;
    height: 30%;
    width: 25%;
}

/* LINKS */
.backLink:link {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    margin-top: 0%;
    text-align: center;
    line-height: 0%;
    text-decoration: none;
    z-index: 0;
}

.backLink:visited {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    margin-top: 0%;
    text-align: center;
    line-height: 0%;
    z-index: 0;
}

.backLink:hover {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1vw;
    color: red;
    margin-top: 0%;
    text-align: center;
    line-height: 0%;
    z-index: 0;
}


/* MOBILE FORMATTING */
@media (max-width: 879px) {
  body {
      background: white;
  }
  .body-platform {
      margin-top: 10%;
      positon: absolute;
      width: 100%;

      box-sizing: border-box;
      padding: 4vw;
      border-radius: 0px;
      background: white;
      /*background-image: url("x.png");*/
      opacity: 1;
      z-index: 1
  }
  .container-profile-link {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
      align-items: center;
      position: relative;
      width: 100%;
      border-spacing: 0em;

      padding-right: 1vw;
      padding-left: 1vw;
      text-align: center;
  }

  .buttonArray {
      display: none;
  }

  .textContainer {
      width: 90%;
  }

    .resumeButton {
        display: none;
        position: fixed;
        right: 1em;
        bottom: 1em;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 0vw;
        padding-top: 0vw;
        border-radius: 50px;
        background: rgb(209,84,84);
        box-shadow: 0px 5px 15px #595959;
        opacity: 1;
        z-index: 100;
        text-align: center;
    }

    .resumeText {
        position: relative;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 1em;
        color: white;
    }
}

.resumeButton {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 0vw;
    padding-top: 0vw;
    border-radius: 50px;
    background: rgb(209,84,84);
    box-shadow: 0px 5px 15px #595959;
    opacity: 1;
    z-index: 100;
    text-align: center;
}

.resumeText {
    position: relative;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1em;
    color: white;
}
